/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* White background */
}

.login-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.login-section {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px; /* or any other width you prefer */
}

.login-section h2 {
    color: #05386B;
    text-align: center;
}

.login-section form {
    margin-bottom: 10px;
}

.login-section input[type="text"],
.login-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.login-section label {
    display: block;
    margin: 10px 0;
}

.login-section button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    background-color: #05386B;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-section button:hover {
    background-color: #5CDB95; /* Darker shade for hover effect */
}

.login-links {
    text-align: center;
}

.login-links a {
    margin: 0 5px;
    color: #05386B;
    text-decoration: none;
}

.login-links a:hover{
    color: purple;
}