<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="static/css/event_detail.css">
    <style>
        body {
            color: #05386B; /* Consistent color theme */
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="static/images/logo1.jpg" alt="Pet Hotel Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('welcome') }}">Home</a></li>
                <li><a href="{{ url_for('event') }}">Event</a></li>
                <li>
                    <a href="#">Categories</a>
                    <div class="dropdown-content">
                        <a href="cats_page.html">Cats</a>
                        <a href="dogs_page.html">Dogs</a>
                        <a href="other_pet_page.html">Other pets</a>
                    </div>
                </li>
                <li>
                    <a href="#">Products</a>
                    <div class="dropdown-content">
                        <a href="toys_page">Toys</a>
                        <a href="food_page.html">Food</a>
                        <a href="health_page.html">Health</a>
                    </div>
                </li>
                <li class="login"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>


    <div class="event-detail-container">
        <div class = "event-content">
            <h2 id="event-title"></h2>
            <h4 id="event-description"></h4>
            <p id="event-introduction"></p>
            <div class="image-grid">
                <img id="img1" src="" alt="Event image 1">
                <img id="img2" src="" alt="Event image 2">
                <img id="img3" src="" alt="Event image 3">
                <img id="img4" src="" alt="Event image 4">
            </div>
            <div class = "event-highlight">
                <ul>
                    <li id = "hightlight1"></li>
                    <li id = "hightlight2"></li>
                </ul>
            </div>
        </div>
        <div class = "event-detail-panel">
            <p id = "event-price"></p>
            <p id="event-date"></p>
            <p id="event-location"></p>
            <button>Book Now</button>
        </div>
    </div>
      
    <script src="{{ url_for('static', filename='js/event_detail.js') }}"></script>
      
</body>
</html>