<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="static/css/forgot_password.css">
    <link rel="stylesheet" href="static/css/navbar.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="static/logo1.jpg" alt="Pet Hotel Logo">
            </div>
            <ul class="nav-links">
                <li><a href="welcome_page.html">Home</a></li>
                <li><a href="event_page.html">Event</a></li>
                <li>
                    <a href="#">Categories</a>
                    <div class="dropdown-content">
                        <a href="cats_page.html">Cats</a>
                        <a href="dogs_page.html">Dogs</a>
                        <a href="other_pet_page.html">Other pets</a>
                    </div>
                </li>
                <li>
                    <a href="#">Products</a>
                    <div class="dropdown-content">
                        <a href="toys_page">Toys</a>
                        <a href="food_page.html">Food</a>
                        <a href="health_page.html">Health</a>
                    </div>
                </li>
                <li class="login"><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>

      <div class="forgot-container">
          <div class="forgot-section">
              <h2> Retrieve username and password</h2>
              <form id="forgot_password">
                  <input type="text" placeholder="Enter Email">
                  <button type="submit">Find Back</button>
              </form>
          </div>
      </div>
</body>
</html>