/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.event {
    padding: 20px;
}
.event ul {
    padding: 0;
}
  
.event li {
    list-style: none; /* Removes the default list styling */
}

.event a {
    display: inline-block; /* Allows the size to fit the content */
    background-color: #ffffff; /* Initial background color */
    color: #05386B; /* Text color */
    padding: 10px 15px; /* Adjust padding to your preference */
    border-radius: 20px; /* Rounded corners for oval shape */
    margin-top: -50px; /* Space from the event description */
    transition: background-color 0.3s ease-in-out; /* Transition for hover effect */
    text-align: left; /* Align text to the left */
    margin-left: -15px;
    text-decoration: none; /* Removes the underline */
}

.event a:hover {
    background-color: #5CDB95; /* Color when hovered */
}

