/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* White background */
}

/*      part for navbar.css    */


.welcome {
    padding: 20px;
    text-align: center;
}

.welcome h1, .welcome p, .about h2, .about p, footer {
    color: #05386B; /* Text color to match the nav bar for consistency */
}

.latest-articles, .upcoming-events {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #eaeaea; /* subtle border to visually separate sections */
}

.latest-articles h2, .upcoming-events h2 {
    color: #05386B;
    margin-bottom: 15px;
}

#articles-container, #events-container {
    /* Placeholder styles - adjust as content is added */
    padding: 20px;
    background-color: #f8f8f8; /* Light background to differentiate from white page background */
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Maintain consistency in the text color for content */
.latest-articles p, .upcoming-events p {
    color: #05386B;
}

/* Additional responsive styling as needed for smaller screens */
@media (max-width: 768px) {
    .latest-articles, .upcoming-events {
        padding: 10px;
    }

    #articles-container, #events-container {
        padding: 10px;
    }
}


footer {
    background: #05386B;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}
