<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pet Hotel Booking{% endblock %}</title>
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/welcome.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <img src="static/logo1.jpg" alt="Pet Hotel Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for ('event_page')}}">Event</a></li>
            <li><a href="{{ url_for ('forum_page')}}">Forum</a></li>
            <li>
                <a href="#">Products</a>
                <div class="dropdown-content">
                    <a href="toys_page">Toys</a>
                    <a href="food_page.html">Food</a>
                    <a href="health_page.html">Health</a>
                    <a href="hotel_page.html">Hotel</a>
                </div>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">{{current_user.username}}</span>                   
                </li>
                <li class="logout"><a href="{{ url_for('logout') }}">logout</a></li>
            {% else %}
                <li class="login"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}
<!-- This block will be overridden by child templates -->
{% endblock %}

<footer>
    <p>© 2024 PetPals Forum. All rights reserved.</p>
</footer>

</body>
</html>
