<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/css/forgot_password.css">

<div class="forgot-container">
    <div class="forgot-section">
        <h2>Retrieve Username and Password</h2>
        <form id="forgot_password">
            <input type="text" placeholder="Enter ID number to retrieve username and password">
            <button type="submit">Find Back</button>
        </form>
    </div>
</div>
{% endblock %}
</html>
