{% extends "base.html" %}

{% block title %}Welcome - PetPals Forum{% endblock %}

{% block content %}
<section class="welcome">
    <h1>Welcome to PetPals Forum</h1>
    <p>An open community dedicated to pet lovers and owners eager to exchange advice, stories, and experiences. </p>
    <p>We're committed to fostering a supportive and informative environment for all things pet-related.</p>
    <img src="static/DogsInPark.jpeg" alt="DogsInPark" style="width: 400px; height: auto;">
</section>

<section class="latest-articles">
    <h2>Latest Articles 🗞️</h2>
    <div id="articles-container">
        <!-- Placeholder for articles; to be populated with content -->
        <p>Check back soon for insightful articles on pet care!</p>
    </div>
</section>

<section class="upcoming-events">
    <h2>Upcoming Events 📢</h2>
    <div id="events-container">
        <!-- Placeholder for events; to be populated with content -->
        <p>Stay tuned for exciting upcoming events!</p>
    </div>
</section>
{% endblock %}
