{% extends "base.html" %}

{% block title %}Welcome - PetPals Forum{% endblock %}

{% block content %}
<section class="welcome">
    <h1>Welcome to PetPals Forum</h1>
    <p>An open community dedicated to pet lovers and owners eager to exchange advice, stories, and experiences. </p>
    <p>We're committed to fostering a supportive and informative environment for all things pet-related.</p>
    <img src="static/DogsInPark.jpeg" alt="DogsInPark" style="width: 400px; height: auto;">
</section>

<section class="latest-article">
    <h2>Latest Article 🗞️</h2>
    {% if latest_question %}
        <article>
            <h3>{{ latest_question.title }}</h3>
            <p>{{ latest_question.content[:150] }}...</p >
            <small>Published by {{ latest_question.author.username }} on {{ latest_question.create_time.strftime('%Y-%m-%d %H:%M') }}</small>
            Read more
        </article>
    {% else %}
        <p>No recent articles found.</p >
    {% endif %}
</section>

<section class="upcoming-events">
    <h2>Upcoming Events 📢</h2>
    <div id="events-container">
        <!-- Placeholder for events; to be populated with content -->
        <p>Stay tuned for exciting upcoming events!</p>
    </div>
</section>
{% endblock %}
